<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="./javascripts/jquery.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="col-md-12 text-center"><h2>成绩单</h2></div>
        <table id="tab" border="1" class="col-md-12 text-center">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="input-append col-md-12 text-center">
            <input class="span2" id="addData" type="text">
            <button class="btn" type="button">add name</button>
        </div>
    </div>
</body>
<script src="./javascripts/index.js"></script>
</html>
